.matchWrap {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 900px;
  .matchingLottie {
    max-width: 500px;
    height: 500px;
  }
  .matchingMessage {
    font-size: 30px;
  }
  .matchCaseBtn {
    font-size: 18px;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    background-color: #fff;
    border: 2px solid #f7c343;
    border-radius: 70%;
    padding: 3px 2px;
    margin-right: 20px;
    box-shadow: 0 4px 4px -4px #777;
  }
  button[aria-current] {
    font-size: 18px;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    background-color: #f2d17a;
    border: 2px solid #f7c343;
    border-radius: 70%;
    padding: 3px 2px;
    margin-right: 20px;
    box-shadow: 0 4px 4px -4px #777;
  }
  // .matchClickedCaseBtn {
  //   font-size: 18px;
  //   width: 50px;
  //   height: 50px;
  //   font-weight: bolder;
  //   background-color: #f2d17a;
  //   border: 2px solid #f7c343;
  //   border-radius: 70%;
  //   padding: 3px 2px;
  //   margin-right: 20px;
  //   box-shadow: 0 4px 4px -4px #777;
  // }
  .matchDist {
    background-color: #f7c343;
    display: inline-table;
    font-size: 20px;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    margin: 20px 0 50px 0;
  }
}

.matchBody {
  height: 85vh;
}

/* 매칭 완료 창 */

.matchFormWrap {
  .matchTitle {
    margin-bottom: 30px;
  }

  .matchMessage {
    display: flex;
    justify-content: center;
    font-size: 25px;
    // color: darkcyan;
  }
  .matchFindIngredients {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    .matchTag {
      font-size: 20px;
      font-weight: bolder;
      background-color: #f2d17a;
      border: 2px solid #f7c343;
      border-radius: 16px;
      padding: 3px 2px;
      margin-right: 15px;
      box-shadow: 0 4px 4px -4px #777;
      text-align: center;
    }
    .matchNotTag {
      font-size: 20px;
      font-weight: bolder;
      background-color: #cccccc;
      border: 2px solid #cccccc;
      border-radius: 16px;
      padding: 3px 2px;
      margin-right: 15px;
      box-shadow: 0 4px 4px -4px #777;
      text-align: center;
    }
  }
  .matchNotFoundIngredients {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .matchNotTag {
      font-size: 20px;
      font-weight: bolder;
      background-color: #cccccc;
      border: 2px solid #cccccc;
      border-radius: 16px;
      padding: 3px 2px;
      margin-right: 15px;
      box-shadow: 0 4px 4px -4px #777;
      text-align: center;
    }
  }

  .matchMartView {
    display: flex;
    justify-content: flex-end;
  }
}

.matchResultMap {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.matchContainer {
  padding: 10px;
  .slick-list {
    width: 100%;
    .slick-slide {
      display: flex;
      justify-content: center;
    }
  }
}

.slick-prev::before {
  content: url(../../assets/icon_prev.png);
}
.slick-next::before {
  content: url(../../assets/icon_next.png);
}

.matchContentCard {
  width: 100%;
  height: 150px;
  border-radius: 1rem;
  background-color: white;
  .matchCardImgWrap {
    width: 100%;
    padding: 5%;
    img {
      width: 100%;
      height: 300px;
      border-radius: 12px;
    }
  }
}

.notFound {
  margin: 20px 20px 20px 20px;
  font-size: 25px;
}

/* 지도 관련 */
.userImg {
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 70%;
}

.matchInfo_wrap {
  position: absolute;
  bottom: 28px;
  left: -150px;
  width: 220px;
}

.matchInfo {
  position: relative;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;

  .title {
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 5px 0 5px 0;
    color: #fff;
    background: #d95050;
    background: #f7c343;

    .matchIngredientImg {
      width: 200px;
      height: 200px;
      border-radius: 10px;
    }
  }

  .matchNickname {
    margin-top: 10px;
    color: #434ff7;
    .matchingUserImg {
      width: 30px;
      height: 30px;
      border-radius: 70%;
    }
  }

  // .matchType {
  // }
  .matchPurchaseDate {
    font-size: 14px;
  }
  .matchExpirationDate {
    font-size: 14px;
  }
  .matchDistance {
    font-size: 14px;
    color: #999;
  }
}

/* 나눔, 교환 필터 */

.matchFilterContainer {
  margin: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
  padding: 0.75rem;
  border-radius: 99px; // just a high number to create pill effect
  * {
    z-index: 2;
  }
}

input[type='radio'] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 200px;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 99px; // just a high number to create pill effect
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type='radio'] {
  &:checked {
    & + label {
      color: var(--primary-color);
    }
  }
}

input[id='radio-1'] {
  &:checked {
    & ~ .glider {
      transform: translateX(0);
    }
  }
}

input[id='radio-2'] {
  &:checked {
    & ~ .glider {
      transform: translateX(100%);
    }
  }
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 200px;
  background-color: #f2d17a;
  z-index: 1;
  border-radius: 99px; // just a high number to create pill effect
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
    transform: scale(0.6);
  }
}

/* 매칭 실패 페이지 버튼 */
.failMoveToMart {
  width: 400px;
  height: 400px;
  font-size: 30px;
  margin: 80px 50px 30px 50px;
  border: 5px solid #f7c343;
  border-radius: 1rem;
  &:hover {
    border: none;
    transform: scale(1.1);
  }
}

.failMoveToRecipe {
  width: 400px;
  height: 400px;
  font-size: 30px;
  margin: 80px 50px 30px 50px;
  border-radius: 1rem;
  border: 5px solid #f7c343;
  cursor: pointer;
  &:hover {
    border: none;
    transform: scale(1.1);
  }
}
