#main1 {
  background-color: #f7c343;
  padding: 100px;
  #fridge {
    margin-left: 200px;
    width: 400px;
    height: auto;
  }
}
#main2 {
  // padding: 100px;
  // img {
  //   width: 400px;
  //   height: auto;
  //   margin-right: 200px;
  // }
  // button {
  //   background-color: #f7c343;
  //   border: 1px solid #f7c343;
  //   border-radius: 8px;
  // }

  @media (max-width: 869px) {
    .featuretitle {
      font-size: 30px;
    }
  }
}

@media (max-width: 869px) {
  .featureimage {
    width: 350px;
    height: 350px;
  }
}

#main3 {
  background-color: #f7c343;
  // @media (max-width: 869px) {
  //   #main3 {
  //     padding: 4%;
  //     width: 1000px;
  //   }
  // }
  .contentContainer {
    padding: 20px;
    // height: 800px;
    .slick-list {
      width: 100%;

      .slick-slide {
        display: flex;
        justify-content: center;

        div:first-child {
          width: 95%;
        }
        @media all and (min-width: 869px) and (max-width: 991px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 869px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 800px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 675px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 519px) {
          .contentCard {
            max-width: 100%;
          }
          div:first-child {
            width: 300px;
          }
        }
        .contentCard {
          width: 100%;
          height: 500px;
          box-shadow: 1px 1px 1px 1px gray;
          border-radius: 1rem;
          background-color: white;
          .cardImgWrap {
            width: 100%;
            padding: 5%;
            img {
              width: 100%;
              height: 300px;
              border-radius: 12px;
            }
          }
          .card_body {
            width: 100%;
            overflow: hidden;
            padding: 5%;
            .card-title {
              font-size: 1.25rem;
              font-weight: bolder;
            }

            .status {
              width: 70px;
              font-size: 16px;
              font-weight: bolder;
              background-color: #f7c343;
              border: 2px solid #f7c343;
              border-radius: 16px;
              padding: 3px 2px;
              // margin-right: 5px;
              box-shadow: 0 4px 4px -4px #777;
              text-align: center;
            }
          }

          .likeBtn {
            text-align: right;
          }
        }
      }
    }
  }

  .slick-prev::before {
    content: url(../../assets/icon_prev.png);
  }
  .slick-next::before {
    content: url(../../assets/icon_next.png);
  }
}
