#main1 {
  background-color: #f7c545;
  padding: 100px;
  #fridge {
    margin-left: 200px;
    width: 400px;
    height: auto;
  }
}
#main2 {
  padding: 100px;
  img {
    width: 400px;
    height: auto;
    margin-right: 200px;
  }
}
#main3 {
  background-color: #f7c343;
  .contentsContainer {
    width: 50%;
  }
}
