#main1 {
  background-color: #f7c343;
  padding: 100px;
  #fridge {
    margin-left: 200px;
    width: 400px;
    height: auto;
  }
}

.featureLeftWrap {
  padding: 60px 150px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  // height: 100vh;
  .featureimage {
    margin: 30px;
    width: 100%;
  }
  .featureContent {
    font-family: 'GmarketSansMedium';
    margin-top: 20px;
  }
}

.featureRightWrap {
  // background-color: #f7c343;
  padding: 60px 150px;
  width: 100%;
  height: 120%;
  margin: 0 auto;
  text-align: right;
  .featureimage {
    margin: 20px;
    width: 100%;
  }
  .featureContent {
    font-family: 'GmarketSansMedium';
    margin-top: 20px;
  }
}

#main2 {
  // padding: 100px;
  // img {
  //   width: 400px;
  //   height: auto;
  //   margin-right: 200px;
  // }
  // button {
  //   background-color: #f7c343;
  //   border: 1px solid #f7c343;
  //   border-radius: 8px;
  // }

  @media (max-width: 869px) {
    .featuretitle {
      font-size: 30px;
    }
  }
}

@media (max-width: 869px) {
  .featureimage {
    width: 350px;
    height: 350px;
  }
}

#main3 {
  background-color: #f7c343;
  // @media (max-width: 869px) {
  //   #main3 {
  //     padding: 4%;
  //     width: 1000px;
  //   }
  // }
  .contentContainer {
    padding: 20px;
    // height: 800px;
    .slick-list {
      width: 100%;
      padding-bottom: 10px;

      .slick-slide {
        display: flex;
        justify-content: center;

        div:first-child {
          width: 95%;
        }
        @media all and (min-width: 869px) and (max-width: 991px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 869px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 800px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 675px) {
          div:first-child {
            width: 1000px;
          }
        }
        @media (max-width: 519px) {
          .contentCard {
            max-width: 100%;
          }
          div:first-child {
            width: 300px;
          }
        }
        .contentCard {
          width: 100%;
          height: 100%;
          box-shadow: 1px 1px 1px 1px gray;
          border-radius: 1rem;
          background-color: white;

          .cardImgWrap {
            position: relative;
            width: 100%;
            padding: 5%;

            .status {
              position: absolute;
              color: #fff;
              font-size: 20px;
              top: 45%;
              left: 42%;
              z-index: 3;
              border-radius: 50%;
              // padding: 3px 2px;
              margin-right: 5px;
              // box-shadow: 0 4px 4px -4px #777;
              text-align: center;
              visibility: hidden;
            }
            img {
              width: 100%;
              height: 300px;
              border-radius: 12px;
              &:hover + .status {
                visibility: visible;
              }
              &:hover {
                filter: brightness(60%);
              }
            }
          }
          .card_body {
            width: 100%;
            overflow: hidden;
            padding: 5%;
            .card-title {
              font-size: 1.25rem;
              font-weight: bolder;
            }
            .card_Ptag {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 200px;
            }
            @media all and (min-width: 1338px) and (max-width: 1550px) {
              .card_Ptag {
                width: 180px;
              }
            }
            @media all and (min-width: 1248px) and (max-width: 1337px) {
              .card_Ptag {
                width: 160px;
              }
            }
            @media all and (min-width: 1007px) and (max-width: 1247px) {
              .card_Ptag {
                width: 140px;
              }
            }
            @media all and (min-width: 978px) and (max-width: 992px) {
              .card_Ptag {
                width: 140px;
              }
            }
            @media (max-width: 975px) {
              .card_Ptag {
                width: 160px;
              }
            }
            .type {
              width: 70px;
              font-size: 16px;
              font-weight: bolder;
              background-color: #f7c343;
              border: 2px solid #f7c343;
              border-radius: 16px;
              padding: 3px 2px;
              // margin-right: 5px;
              box-shadow: 0 4px 4px -4px #777;
              text-align: center;
            }
          }
          .boardIngredientResList {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 95%;
            height: 24px;
          }
          .detailLike {
            font-size: 30px;
            color: red;
            margin-left: 90%;
          }
          .detailUnLike {
            font-size: 30px;
            margin-left: 90%;
          }
        }
      }
    }
  }
  @media all and (min-width: 415px) and (max-width: 869px) {
    padding: 30px;
  }
  @media all and (max-width: 414px) {
    padding: 10px;
  }

  .slick-prev::before {
    content: url(../../assets/icon_prev.png);
  }
  .slick-next::before {
    content: url(../../assets/icon_next.png);
  }
}
