header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  .navbar {
    overflow: hidden;
    background-color: #f7c343;
    // min-height: 70px;
    padding-top: 23px;
    padding-bottom: 23px;

    a {
      color: #222;
      margin: 0 2rem 0 0;
      padding: 0;
      text-decoration: none;
      font-weight: bold;
      align-items: center;
      &:hover {
        color: #444;
      }
    }
  }
}
