.navbar {
  overflow: hidden;
  background-color: #f7c343;
  .nav-menu a{
    margin: 0 2rem 0 0;
    padding: 0;
    // color: black;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
  }  
}