.detailFormWrap {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  background-color: #fffcf2;
  // transform: translateY(10%);
  position: relative;
  padding: 50px;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 4px -4px #777;
  margin: 70px 0 110px 0;

  @media only screen and (max-width: 992px) {
    // height: 700px;
  }

  .detailHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;

    .detailProfileImg {
      max-width: 50px;
      height: 50px;
      border-radius: 70%;
    }
    .detailUserName {
      margin-left: 10px;
      align-self: flex-end;
    }
    .detailStatus {
      text-align: center;
      width: 80px;
      font-size: 16px;
      font-weight: bolder;
      background-color: #cccccc;
      border: 2px solid #cccccc;
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
  }

  .detailBody {
    display: flex;
    padding: 30px 0px;
    justify-content: center;

    @media only screen and (min-width: 991px) and (max-width: 1200px) {
      margin-bottom: 50px;
    }

    .detailIngredientImgWrap {
      margin-right: 40px;
      flex-shrink: 0;
      width: 430px;
      height: 430px;
      position: relative;

      @media only screen and (max-width: 1200px) {
        margin-right: 0;
      }

      .detailIngredientImg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .detailContent {
      .detailTitle {
        margin-bottom: 25px;
        line-height: 1.4;
        height: 20%;
        font-size: 30px;
      }
      .detailDescription {
        font-weight: bold;
        margin-bottom: 25px;
        height: 40%;
        font-size: 25px;
      }
      .detailIcon {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        #detailLike {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: black;
          border: 1px solid rgb(204, 204, 204);
          color: rgb(255, 255, 255);
        }
        #detailUnLike {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: rgb(204, 204, 204);
          border: 1px solid rgb(204, 204, 204);
          color: rgb(255, 255, 255);
        }
        #detailChat {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: rgb(255, 164, 37);
          border: 1px solid rgb(243, 150, 20);
          color: rgb(255, 255, 255);
        }
        #detailReport {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: rgb(247, 0, 0);
          border: 1px solid rgb(223, 0, 0);
          color: rgb(255, 255, 255);
        }
      }
      .detailMyContent {
        text-align: center;
        font-size: 20px;
        color: #f7c343;
        margin-top: 40px;
      }
    }
  }
  .detailInfoWrap {
    // width: 60%;
    // margin: 0 auto;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    @media only screen and (max-width: 1200px) {
      max-height: 500px;
      overflow: auto;
    }

    @media only screen and (max-width: 992px) {
      // width: 500px;
    }
    .detailInfo {
      width: 25%;
      // margin-right: 44px;
      margin-bottom: 20px;
      margin-top: 20px;
      // margin: 20px 10px 20px;
      padding: 0 10px;

      @media only screen and (max-width: 1200px) {
        width: 33.33%;
        padding: 0 30px;
      }
      @media only screen and (max-width: 992px) {
        width: 50%;
        // padding: 0 60px;
      }
      @media only screen and (max-width: 520px) {
        width: 100%;
        // padding: 0 60px;
      }
      .detailTag {
        text-align: center;
        font-size: 16px;
        background-color: #cccccc;
        border: 2px solid #cccccc;
        border-radius: 8px;
        padding: 3px 2px;
        margin-right: 5px;
        box-shadow: 0 4px 4px -4px #777;
      }
    }
  }

  .detailCounts {
    display: flex;
    margin-bottom: 30px;
  }

  .detailFooter {
    text-align: center;
    margin-bottom: 30px;
    #detailCancelBtn {
      font-size: 16px;
      font-weight: bolder;
      background-color: #fff;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
    #detailModifyBtn {
      font-size: 16px;
      font-weight: bolder;
      background-color: #f7c343;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
    #detailDeleteBtn {
      color: white;
      font-size: 16px;
      font-weight: bolder;
      background-color: rgb(223, 0, 0);
      border: 2px solid rgb(223, 0, 0);
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
  }
  @media only screen and (max-width: 991px) {
    .detailIngredientImg {
      width: 100%;
    }
    .detailContent {
      margin-top: 20px;
      width: 100%;
      height: 100%;
      position: relative;
      .detailIcon {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
    .detailFooter {
      position: absolute;
      bottom: 0%;
    }
  }
}

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );

// 신고 버튼
.reportBtn {
  font-size: 13px;
  font-weight: bolder;
  background-color: #f7c343;
  border: 2px solid #f7c343;
  border-radius: 8px;
  padding: 3px 2px;
  margin-right: 5px;
  color: #fff;
  width: 50px;
  box-shadow: 0 4px 4px -4px #777;
}
.closeBtn {
  font-size: 13px;
  font-weight: bolder;
  background-color: #fff;
  border: 2px solid #f7c343;
  border-radius: 8px;
  padding: 3px 2px;
  margin-right: 5px;
  width: 50px;
  box-shadow: 0 4px 4px -4px #777;
}
