$mobile: 500px;
$tablet: 991px;
$laptopS: 1200px;
$desktop: 1400px;

/* 제목 + 글쓰기 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

/* 검색 창 */
.searchBar {
  align-items: center;
  margin-bottom: 15px;

  #text-area {
    width: 20rem;
    height: 30px;
    resize: none;
  }

  #searchBtn {
    height: 30px;
    font-size: 16px;
    font-weight: bolder;
    background-color: #f7c343;
    border: 1px solid #f7c343;
    border-radius: 8px;
    text-align: center;
  }
}

/* 내 위치, 필터(거리순, 최신순, 조회순) */
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.locationBtn {
  font-size: 16px;
  font-weight: bolder;
  background-color: #f7c343;
  border: 1px solid #f7c343;
  border-radius: 8px;
  padding: 8px 0;
  margin: 10px 0;
  text-align: center;
}

/* 선택되지 않은 필터 버튼 스타일 */
.filter #filterBtn {
  width: 70px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #fff;
  border: 2px solid #f7c343;
  border-radius: 8px;
  padding: 3px 2px;
  margin-right: 5px;
  box-shadow: 0 4px 4px -4px #777;
}

/* 선택된 필터 버튼 스타일 */
.filter #selectedFilterBtn {
  width: 70px;
  font-size: 16px;
  font-weight: bolder;
  background-color: #f7c343;
  border: 2px solid #f7c343;
  border-radius: 8px;
  padding: 3px 2px;
  margin-right: 5px;
  box-shadow: 0 4px 4px -4px #777;
}

/* 게시글 */
.contentsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  overflow-x: hidden;

  .contentCard {
    width: calc(25% - 44px);
    margin-right: 44px;
    margin-bottom: 56px;
    cursor: pointer;
    // display: inline-block;
    // width: calc(($desktop - 200px) / 4);
    // height: auto;
    // box-shadow: 1px 1px 1px 1px gray;
    // border-radius: 1rem;
    // overflow: auto;

    @media only screen and (max-width: $laptopS) {
      width: calc(($laptopS - 60px) / 4);
    }
  }

  .cardImgWrap {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    background-color: #f8f9fa;
    box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 15%);
    box-sizing: border-box;
    // width: 300px;
    // height: 300px;
    .cardImg {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
      border-radius: 12px;
      border: 1px solid transparent;
      height: 100%;
      object-fit: cover;
    }
  }

  .cardBodyHeader {
    margin-top: 12px;
    .status {
      width: 70px;
      font-size: 16px;
      font-weight: bolder;
      background-color: #f7c343;
      border: 2px solid #f7c343;
      border-radius: 16px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
      text-align: center;
    }
    .cardTitle {
      font-size: 1.25rem;
      font-weight: bolder;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .boardIngredientResList {
    display: flex;
  }
  .cardBodyCountsLike {
    display: flex;
    justify-content: space-between;
    .likeBtn {
      text-align: right;
    }

    .cardBodyCounts {
      display: flex;
      color: #868e96;
      font-size: 14px;
    }
  }
}

/* 글 생성 시, 뒷 배경 (모달 시, dimmed 효과) */
.content-create-form {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  // background-color: white;

  /* 글 생성 모달 내부 */
  .formWrap {
    width: 120vh;
    height: 90vh;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0.8rem;
    background-color: #fffcf2;
    overflow: hidden;

    #yellowbtn {
      margin-right: 5px;
      border-radius: 0.8rem;
    }
  }
}

/* 글 생성 모달 전체 */
.content-create-form.openModal {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  // animation: content-create-form-bg-show 0.6s;
}

/* 페이지네이션 */
.paginationWrap {
  display: fixed;
  bottom: 0;
}

.pagination > li > a {
  background-color: white;
  color: black;
  font-size: 20px;
}

.pagination > li > a:focus,
.pagination > li > a:hover {
  color: white;
  background-color: #f2d17a;
  border-color: #ddd;
}

/* 검색 실패 */

.searchNotFoundText {
  text-align: center;
}
.searchNotFound {
  display: flex;
  justify-content: center;
  margin: 30px;
  height: 600px;
}

@media only screen and (max-width: $mobile) {
  .searchBar {
    #text-area {
      display: none;
    }
    #searchBtn {
      display: none;
    }
  }
  .locationBtn {
    display: none;
    .filter {
      visibility: hidden;
    }
  }
  .body {
    justify-content: center;
  }
  .paginationWrap {
    display: none;
  }
}

@media only screen and (max-width: $mobile) {
  .header {
    display: none;
  }

  .searchBar {
    #text-area {
      display: none;
    }
    #searchBtn {
      display: none;
    }
  }
  .locationBtn {
    display: none;
    .filter {
      visibility: hidden;
    }
  }
  .paginationReposive {
    display: none;
  }
}

@media only screen and (max-width: $tablet) {
  .locationBtn {
    display: none;
    .filter {
      visibility: hidden;
    }
  }
}
