.detailFormWrap {
  width: 100%;
  // height: 80vh;
  border-radius: 2rem;
  background-color: #fffcf2;
  transform: translateY(10%);
  position: relative;
  padding: 50px;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 4px -4px #777;

  .detailHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;

    .detailProfileImg {
      max-width: 50px;
      height: 50px;
      border-radius: 70%;
    }
    .detailUserName {
      margin-left: 10px;
      align-self: flex-end;
    }
    .detailStatus {
      text-align: center;
      width: 80px;
      font-size: 16px;
      font-weight: bolder;
      background-color: #cccccc;
      border: 2px solid #cccccc;
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
  }

  .detailBody {
    display: flex;
    padding: 30px 0px;
    justify-content: center;

    .detailIngredientImgWrap {
      margin-right: 40px;
      flex-shrink: 0;
      width: 430px;
      height: 430px;
      position: relative;

      .detailIngredientImg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    }
    .detailContent {
      .detailTitle {
        margin-bottom: 25px;
        line-height: 1.4;
        height: 20%;
        font-size: 30px;
      }
      .detailDescription {
        font-weight: bold;
        margin-bottom: 25px;
        height: 40%;
        font-size: 25px;
      }
      .detailIcon {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        #detailLike {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: rgb(204, 204, 204);
          border: 1px solid rgb(204, 204, 204);
          color: rgb(255, 255, 255);
        }
        #detailChat {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: rgb(255, 164, 37);
          border: 1px solid rgb(243, 150, 20);
          color: rgb(255, 255, 255);
        }
        #detailReport {
          font-size: 20px;
          height: 56px;
          width: 30%;
          background: rgb(247, 0, 0);
          border: 1px solid rgb(223, 0, 0);
          color: rgb(255, 255, 255);
        }
      }
    }
  }
  .detailInfoWrap {
    display: flex;
    .detailInfo {
      margin-right: 44px;
      margin-bottom: 25px;
      margin-top: 20px;
      .detailTag {
        text-align: center;
        font-size: 16px;
        background-color: #cccccc;
        border: 2px solid #cccccc;
        border-radius: 8px;
        padding: 3px 2px;
        margin-right: 5px;
        box-shadow: 0 4px 4px -4px #777;
      }
    }
  }

  .detailCounts {
    display: flex;
    margin-bottom: 30px;
  }

  .detailFooter {
    text-align: center;
    margin-bottom: 30px;
    #detailCancelBtn {
      font-size: 16px;
      font-weight: bolder;
      background-color: #fff;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
    #detailModifyBtn {
      font-size: 16px;
      font-weight: bolder;
      background-color: #f7c343;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
    #detailDeleteBtn {
      color: white;
      font-size: 16px;
      font-weight: bolder;
      background-color: rgb(223, 0, 0);
      border: 2px solid rgb(223, 0, 0);
      border-radius: 8px;
      padding: 3px 2px;
      margin-right: 5px;
      box-shadow: 0 4px 4px -4px #777;
    }
  }
  @media only screen and (max-width: 991px) {
    .detailIngredientImg {
      width: 100%;
    }
    .detailContent {
      margin-top: 20px;
      width: 100%;
      height: 100%;
      position: relative;
      .detailIcon {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
    .detailFooter {
      position: absolute;
      bottom: 0%;
    }
  }
}

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1140px,
//   xxl: 1320px
// );
