.notFound {
  left: 35%;
  top: 35%;
  position: absolute;
  @media (max-width: 1199px) {
    left: 20%;
  }
  @media (max-width: 992px) {
    left: 10%;
  }
  @media (max-width: 576px) {
    left: 5%;
  }
  @media (max-width: 412px) {
    width: 350px;
    left: 5%;
    top: 30%;
    img {
      width: 40%;
    }
  }
  @media (max-width: 400px) {
    width: 300px;
    top: 30%;
    img {
      width: 40%;
    }
  }
}
