.reportApproveBtn {
  font-size: 13px;
  font-weight: bolder;
  background-color: #f7c343;
  border: 2px solid #f7c343;
  border-radius: 8px;
  padding: 3px 2px;
  margin-right: 5px;
  color: #fff;
  width: 50px;
  box-shadow: 0 4px 4px -4px #777;
}
.reportRejectBtn {
  font-size: 13px;
  font-weight: bolder;
  background-color: rgb(253, 62, 62);
  border: 2px solid rgb(253, 62, 62);
  border-radius: 8px;
  padding: 3px 2px;
  margin-right: 5px;
  color: #fff;
  width: 50px;
  box-shadow: 0 4px 4px -4px #777;
}

.MuiTablePagination-select {
  font-family: GmarketSansBold !important;
}
.MuiTablePagination-selectLabel {
  margin-bottom: 0;
  font-family: GmarketSansBold !important;
}
.MuiTablePagination-displayedRows {
  margin-bottom: 0;
  font-family: GmarketSansBold !important;
}
