.scheduleWrap {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.8);

  .schedule {
    position: relative;
    background-color: #fff;
    // position: fixed;
    // left: 0px;
    // right: 0px;
    // top: 120px;
    // bottom: 50px;
    width: 1100px;
    // width: 70% !important;
    height: 600px;
    margin: 0 auto;
    // padding: 16px 20px;
    padding: 10px 40px;
    border-radius: 10px;

    .boardButton {
      position: absolute;
      top: 8px;
      right: 40px;
      font-size: 14px;
      font-weight: bolder;
      background-color: #f7c343;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 4px 10px;
      box-shadow: 0 4px 4px -4px #777;
    }

    .scheduleItems {
      background-color: #eee;
      // padding: 60px;
      width: 100%;
      height: 85%;
      padding: 60px 0;

      .row {
        width: 100%;
        height: 100%;
        overflow: auto;
      }

      .scheduleDate {
        position: relative;

        .schecduleTime {
          position: absolute;
          top: 333px;

          input {
            width: 44px;
          }
          span {
            display: inline-block;
            font-size: 20px;
            line-height: 32px;
            margin: 1px;
            padding-top: 3px;
            margin-left: 3px;
          }
          div {
            margin: 0 3px;
          }
        }
      }

      .scheduleMap {
        position: relative;
        .mapExplain {
          position: absolute;
          top: -25px;
          left: 190px;
          color: #222;
        }
      }

      .scheduleDetailMap {
        width: 100%;
        height: 320px;

        #scheduleDetailMap {
          width: 90%;
          height: 100%;
          .bAddr {
            padding: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-weight: bolder;

            .adrrName {
              text-align: center;
            }
          }
        }
      }
    }

    .scheduleDetails {
      padding-top: 30px;
    }

    .cancelBtn {
      font-size: 14px;
      font-weight: bolder;
      background-color: #fff;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 4px 10px;
      margin: 0 3px;
      box-shadow: 0 4px 4px -4px #777;
    }
    .updateBtn {
      font-size: 14px;
      font-weight: bolder;
      background-color: #f7c343;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 4px 10px;
      margin: 0 3px;
      box-shadow: 0 4px 4px -4px #777;
    }
    .removeBtn {
      font-size: 14px;
      font-weight: bolder;
      background-color: #69ce55;
      border: 2px solid #69ce55;
      border-radius: 8px;
      padding: 4px 10px;
      margin: 0 3px;
      box-shadow: 0 4px 4px -4px #777;
    }
    .registBtn {
      font-size: 14px;
      font-weight: bolder;
      background-color: #f7c343;
      border: 2px solid #f7c343;
      border-radius: 8px;
      padding: 4px 10px;
      box-shadow: 0 4px 4px -4px #777;
    }
  }
}

// 맵
#scheduleMap {
  // width: 500px;
  // height: 400px;
  width: 100%;
  height: 100%;
  // height: 100px;
  position: relative;

  .bAddr {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bolder;

    .adrrName {
      text-align: center;
    }
  }
  .userImg {
    margin-bottom: 30px;
    // img {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    // }
  }

  .recommendBtn {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #f7c343;
    border: 1px solid #f7c343;
    font-size: 14px;
    font-family: 'CookieRun-Regular';
  }

  .recommendPlace {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 32px;
    padding: 3px;
    background-color: #fff;
    font-size: 15px;
    font-family: 'GmarketSansLight';
    border: 1px solid #ccc;

    .place {
      margin: 0 20px;
      cursor: pointer;
    }

    .selected {
      color: #f7c343;
      font-weight: bold;
      border-bottom: 2px solid #f7c343;
      // line-height: 25px;
      // padding-top: 4px;
      // padding-bottom: 3px;
    }

    .closeIcon {
      position: absolute;
      top: 3.5px;
      right: 4px;
    }
  }

  // infowindow
  .placeInfo {
    background-color: #fff;
    padding: 5px 8px;
    border-radius: 10px;
    // margin-bottom: 80px;
    z-index: 3px;

    .placeName {
      font-size: 12px;
      text-align: center;
      // word-wrap: break-word;
      // white-space: normal;
      // word-break: keep-all;
    }

    .placeUrl {
      display: block;
      text-decoration: none;
      color: #aaa;
      font-size: 10px;
    }
  }
}
